<% include partials/headerAdmin %>

<div class="container text-center mt-5">

    <% if (locals.flash) { %>
	<%- locals.flash %>
	<script>
	    setTimeout(() => {
		$('.alert').fadeOut("fast")				
		}, 5000)
	</script>
    <% } %>

    <h2> Lao väärtus </h2>

    <% let nimed = ["Õlu", "Alkoholivaba", "Kange alkohol", "Muu", "Snäk", "Valmistoit"] %>
    <% if (tooted.length !== 0) { %>
	<% tooted.forEach((tooted2, i) => { %>
	    <% if (tooted2.length !== 0) { %>
    	    	<div class="mb-5">
    		    <h3 class="mt-4 mb-4 text-left"> <%= nimed[tooted2[0].toote_kategooria_id - 1] %></h3>
    		    <table class="table table-bordered shadow mt-3 mb-4">
        	    	<thead>
            	    	    <tr>
		    	    	<th scope="col">Toode</th>
                    	    	<th scope="col">Kogus</th>
                    	    	<th scope="col">Müügi hind</th>
                    	    	<th scope="col">Summa müügi hinnas</th>
		    	    	<th scope="col">Oma hind</th>
                    	    	<th scope="col">Summa oma hinnas</th>
	    	    	    </tr>
        	    	</thead>
        	    	<tbody>
	    	    	    <% tooted2.forEach((toode) => { %>
			    	<tr>
		    	    	    <td><%= toode.toote_nimetus %></td>
		    	    	    <td><%= parseFloat(toode.hetke_kogus).toFixed(2) %></td>
		    	    	    <td><%= parseFloat(toode.myygi_hind).toFixed(2) %>€</td>
		    	    	    <td><%= parseFloat(toode.hetke_kogus * toode.myygi_hind).toFixed(2) %>€</td>
		    	    	    <td><%= parseFloat(toode.oma_hind).toFixed(2) %>€</td>
		    	    	    <td><%= parseFloat(toode.hetke_kogus * toode.oma_hind).toFixed(2) %>€</td>
			    	</tr>
	    	    	    <% }) %>
        	    	</tbody>
    		    </table>
    		    <h5 class="mr-3" style="display: inline;">Müügi hinna kogusumma: <strong><%= parseFloat(sum[i][0]).toFixed(2) %>€</strong></h5>
    		    <h5 class="ml-5" style="display: inline;">Oma hinna kogusumma: <strong><%= parseFloat(sum[i][1]).toFixed(2) %>€</strong></h5>
    		</div>
    	        <% if (i !== tooted.length - 1) { %>
        	    <div class="border-top mt-5 mb-5"></div>
    	        <% } %>
    	    <% } %>
    	<% }) %>
	<% } %>
	<div class="row justify-content-around text-center">
		<div class="col">
			Terve lao väärtus müügi hinnas: <strong><%= sumAll[0] %></strong>
		</div>
		<div class="col">
			Terve lao väärtus oma hinnas: <strong><%= sumAll[1] %></strong>
		</div>
	</div>
</div>

<% include partials/footer %>