<%- include('partials/headerAdmin'); %>

<div class="container text-center mt-5">

    <% if (locals.flash) { %>
        <%- locals.flash %>
        <script>
            setTimeout(() => {
                $('.alert').fadeOut("fast")
            }, 5000)
        </script>
    <% } %>

    <h2>Kasutajate Muutused</h2>

    <% let num = 1 %>
    <% if (numberOfPages > 1) { %>
        <form id="pageForm" action="" method="GET"> 
            <button type="button" class="btn btn-sm mt-3 mr-3" onClick="submitForm('<%= currentPage - 1 %>')"<% if (currentPage === 1) { %>style="visibility: hidden"<% } %>>
                <i class="fas fa-angle-double-left"></i>
            </button>
            <div class="btn-group mt-3 shadow" role="group">
                <% let index = 0 %>
                <% if (currentPage < 7) { %>
                    <% var i = 0 %>
                <% } else { %>
                    <% if (numberOfPages - currentPage <= 5) { %>
                        <% var i = numberOfPages - 11 %>
                    <% } else { %>
                        <% var i = currentPage - 6 %>
                    <% } %>
                <% } %>
                <% if (numberOfPages < 11) { %>
                    <% var end = numberOfPages %>
                <% } else { %>
                    <% var end = 11 %>
                <% } %>
                <% for (i; index < end; index++) { %>
                    <% if (i + 1 === currentPage) {%>
                        <button type="button" onClick="submitForm('<%= i + 1 %>')" class="btn btn-secondary" style="background: #596269;"><%= i + 1 %></button>
                    <% } else { %>
                        <button type="button" onClick="submitForm('<%= i + 1 %>')" class="btn btn-secondary"><%= i + 1 %></button>
                    <% } i++ %>
                <% } %>
            </div>
            <button type="button" class="btn btn-sm mt-3 ml-3" onClick="submitForm('<%= currentPage + 1 %>')"<% if (currentPage === numberOfPages) { %>style="visibility: hidden"<% } %>>
                <i class="fas fa-angle-double-right"></i>
            </button>
        </form>
    <% } %>

    <table class="table table-hover table-bordered mt-4 mb-5 shadow">
        <thead>
            <tr>
                <th scope="col">Aeg</th>
                <th scope="col">Kasutaja nimi</th>
                <th scope="col">Tegevus</th>
                <th scope="col">Muudeti</th>
            </tr>
        </thead>
        <tbody>
            <% muutused.forEach((muutus) => { %>
                <tr>
                    <td> <%= muutus.aeg %> </td>
                    <td> <%= muutus.kasutaja_nimi %> </td>
                    <td> <%= muutus.tegevus %> </td>
                    <td> <%= muutus.muudeti %> </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<script>

    function submitForm(page) {
        $("#pageForm").attr("action", "/admin/muutused/kasutajad/" + page);
        $("#pageForm").submit();
    }

</script>

<%- include('partials/footer'); %>