<% include partials/headerAdmin %>

<div class="container text-center mt-5">

	<% if (locals.flash) { %>
		<%- locals.flash %>
		<script>
			setTimeout(() => {
				$('.alert').fadeOut("fast")				
			}, 5000)
		</script>
	<% } %>

    <!-- Kustuta kasutaja Modal -->
    <div class="modal fade" id="kustuta" tabindex="-1" role="dialog" aria-labelledby="kustutaText" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
		<div class="modal-header">
		    <h5 class="modal-title" id="exampleModalCenterTitle">Kasutaja Kustutamine</h5>
		    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		    </button>
		</div>
		<div class="modal-body">
        	    <p id="kustutaText"></p>
      		</div>
		<div class="modal-footer">
		    <button type="button" class="btn btn-secondary" data-dismiss="modal">Tagasi</button>
		    <form id="delModal" action="" method="POST">
			<button type="submit" class="btn btn-danger">Jah, kustuta kasutaja</button>
		    </form>
		</div>
	    </div>
	</div>
    </div>

    <h2> Kasutajad </h2>
    <table class="table table-hover table-bordered mt-5 mb-5 shadow">
        <thead>
            <tr>
		<th scope="col">Coetus</th>
                <th scope="col">Seis</th>
                <th scope="col">Nimi</th>
                <th scope="col">Võlg</th>
                <th scope="col">Kinnitatud</th>
                <th scope="col"><i class="far fa-edit" style="color: #000000;"></i></th>
		<th><i class="fas fa-trash-alt"></i></th>
	    </tr>
        </thead>
        <tbody>
	    <% kasutajad.forEach((kasutaja) => { %>
		<tr>
		    <td><%= kasutaja.coetus %></td>
		    <td><%= kasutaja.seisuNim %></td>
		    <td id="<%= kasutaja.kasutaja_id %>"><%= kasutaja.staatus + " " + kasutaja.eesnimi + " " + kasutaja.perenimi %></td>
		    <td><%= kasutaja.volg.toFixed(2) %>€</td>
		    <td>
			<% if (kasutaja.admin_on_kinnitanud) {%> <img src="/checkedMark.png" style="height: 17px; width: 17px;"> <% } else { %>
			<img src="/uncheckedMark.png" style="height: 17px; width: 17px;"><% } %>
			
		    </td>
		    <td><a href="/admin/kasutajad/muuda/<%= kasutaja.kasutaja_id %>"><i class="far fa-edit" style="color: #000000;"></i></a></td>
		    <td>
			<a data-toggle="modal" data-target="#kustuta" id="kustutaModal" href="#" data-id="<%= kasutaja.kasutaja_id %>">
			    <i class="fas fa-trash-alt" style="color: #cc2900;"></i>
			</a>
		    </td>
		</tr>
	    <% }) %>
        </tbody>
    </table>
</div>

<script>

    $(document).on("click", "#kustutaModal", function () {
     	let id = $(this).data('id');
	
	let nimi = $(`#${id}`).html();
	$('#kustutaText').html(`Oled kindel, et tahad kustudada kasutaja <br><span style="font-weight: bold;">${nimi}</span>`);
	$('.btn-danger').html(`Jah, kustuta <span style="font-weight: bold;">${nimi.split(" ").pop()}</span>`);

	$('#delModal').attr('action', '/admin/kasutajad/' + id + '/kustuta?_method=DELETE');
    });

</script>

<% include partials/footer %>