<% include partials/headerAdmin %>

<div class="container text-center mt-5">
    <h1> Kasutajad </h1>
    <table class="table table-hover table-bordered mt-4">
        <thead>
            <tr>
		<th scope="col">Coetus</th>
                <th scope="col">Seis</th>
                <th scope="col">Nimi</th>
                <th scope="col">Võlg</th>
                <th scope="col">Kinnitatud</th>
                <th scope="col">Muuda</th>
            </tr>
        </thead>
        <tbody>
        <% kasutajad.forEach((kasutaja, i) => { %>
            <tr>
		<td><%= kasutaja.coetus %></td>
                <td><%= kasutaja.seisuNim %></td>
                <td><%= kasutaja.staatus + " " + kasutaja.eesnimi + " " + kasutaja.perenimi %></td>
                <td><%= kasutaja.volg.toFixed(2) %>€</td>
                <td><%= kasutaja.admin_on_kinnitanud ? "True" : "False" %></td>
                <td><a href="/admin/kasutajad/muuda/<%= kasutaja.kasutaja_id %>">Muuda</a></td>
            </tr>
        <% }) %>
        </tbody>
    </table>
</div>

<% include partials/footer %>