<% include partials/headerAdmin %>

<%  
    // Func for name
    function staatuseNim(num) {
	switch (num) {
  	    case 1: return "reb!";
  	    case 2: return "sv!";
  	    case 3: return "b!vil!";
  	    case 4: return "vil!";
  	    case 5: return "체ritus";
	}
    }
%>

<div class="container text-center mt-5">
    <h1 class="mb-4"> Muuda kasutajat <strong><%= staatuseNim(kasutaja.kasutaja_staatuse_id) + " " + kasutaja.eesnimi + " " +  kasutaja.perenimi %></strong> </h1>
    <form class="needs-validation" action="/admin/kasutajad/<%= kasutaja.kasutaja_id%>?_method=PUT" method="POST" novalidate>
        <div class="form-row justify-content-center">
            <div class="col-2">
                <label for="seis" class="col-form-label col-form-label-lg">Seis</label>
                <select id="seis" name="seis" class="form-control form-control-lg shadow-sm" required="required">
                    <option value="" disabled="disabled">Vali Seis</option>
                </select>
            </div>
	    <div class="col-8 form-row">
            	<div class="col-2">
                    <label for="staatus" class="col-form-label col-form-label-lg">Staatus</label>
                    <select id="staatus" name="staatus" class="form-control form-control-lg shadow-sm" required="required">
                    	<option value="" disabled="disabled">Vali Staatus</option>
                    </select>
            	</div>
            	<div class="col-5">
                    <label for="eesnimi" class="col-form-label col-form-label-lg">Eesnimi</label>
                    <input type="text" name="eesnimi" pattern=".{2,50}" class="form-control form-control-lg shadow-sm" id="eesnimi" value="<%= kasutaja.eesnimi %>" placeholder="Eesnimi" required>
            	</div>
            	<div class="col-5">
                    <label for="perenimi" class="col-form-label col-form-label-lg">Perenimi</label>
                    <input type="text" name="perenimi" pattern=".{2,50}" class="form-control form-control-lg shadow-sm" id="perenimi" value="<%= kasutaja.perenimi %>" placeholder="Perenimi" required>
            	</div>
	    </div>
            <div class="col-2">
                <label for="volg" class="col-form-label col-form-label-lg">V천lg</label>
                <input type="number" name="volg" class="form-control form-control-lg text-center shadow-sm" id="volg" value="<%= kasutaja.volg.toFixed(2) %>" placeholder="Volg" style="width:150px;" step="0.01" min="0" max="9999.99" required>
            </div>
        </div>
        <div class="form-group mb-5">
            <div class="form-check form-check-inline kast1">
                <!--- <input class="form-check-input" name="check" type="checkbox" value="kinnitatud" id="kinnitatud"> --->
                <!--- <label class="form-check-label pl-2" for="kinnitatud">Kinnitatud</label> --->
		<label class="switch">
  		    <input type="checkbox" name="check" value="kinnitatud" id="kinnitatud">
  		    <span class="slider round"></span>
		</label>
		<label class="ml-3" >Kinnitatud</label>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-4">
                <div class="row justify-content-end">
                    <a href="/admin/kasutajad/" class="btn btn-lg btn-outline-primary shadow" id="btnBack">&laquo; Tagasi</a>
                </div>
            </div>
            <div class="col-4">
                <div class="row justify-content-start">
                    <button class="btn btn-outline-success btn-lg shadow" id="btnBuy">Muuda &raquo;</button>
                </div>
            </div>
        </div>
    </form>
    <% if (locals.flash) { %>
        <%- locals.flash %>
        <script>
            setTimeout(() => {
                $('.alert').fadeOut("fast")				
            }, 5000)
        </script>
    <% } %>
</div>

<script>

    $('#staatus').append($('<option>', { value: 1, text: 'reb!'}));
    $('#staatus').append($('<option>', { value: 2, text: 'sv!'}));
    $('#staatus').append($('<option>', { value: 3, text: 'b!vil!'}));
    $('#staatus').append($('<option>', { value: 4, text: 'vil!' }));
    $('#staatus').append($('<option>', { value: 5, text: '체ritus' }));
    $("#staatus").val("<%= kasutaja.kasutaja_staatuse_id %>");

    $('#seis').append($('<option>', { value: 1, text: 'Tavaline'}));
    $('#seis').append($('<option>', { value: 2, text: 'Juhtser'}));
    $('#seis').append($('<option>', { value: 3, text: 'V채ljalangenu'}));
    $("#seis").val("<%= kasutaja.kasutaja_seisu_id %>");

    if (<%= kasutaja.admin_on_kinnitanud %>) {
        $("#kinnitatud").prop("checked", true);
    } else {
        $("#kinnitatud").prop("checked", false);
    }

    (() => {
        'use strict';
        window.addEventListener('load', () => {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            let forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            let validation = Array.prototype.filter.call(forms, (form) => {
                form.addEventListener('submit', (event) => {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

</script>

<% include partials/footer %>