<% include partials/headerAdmin %>

<div class="container text-center mt-5">
    <h1> Ostud </h1>

    <% if (numberOfPages) { %>
	<form id="pageForm" action="" method="GET"> 
    	    <div class="btn-group mt-3 shadow" role="group">
	    	<% for (let i = 0; i < numberOfPages; i++) { %>
		    <% if (i + 1 === currentPage) {%>
		    	<button type="button" onClick="submitForm('<%= i + 1 %>')" class="btn btn-secondary" style="background: #596269;"><%= i + 1 %></button>
		    <% } else { %>
		    	<button type="button" onClick="submitForm('<%= i + 1 %>')" class="btn btn-secondary"><%= i + 1 %></button>
		    <% } %>
	    	<% } %>
    	    </div>
	</form>
    <% } %>

    <table class="table table-hover table-bordered mt-4 mb-5 shadow">
        <thead>
            <tr>
                <th scope="col">Aeg</th>
                <th scope="col">Ostja</th>
                <th scope="col">Toode</th>
                <th scope="col">Kogus</th>
                <th scope="col">Summa</th>
                <th scope="col">Tasuta</th>
            </tr>
        </thead>
        <tbody>
            <% ostud.forEach((ost) => { %>
                <tr>
                    <td> <%= ost.aeg %> </td>
                    <td> <%= ost.ostja_nimi %> </td>
                    <td> <%= ost.toote_nimi %> </td>
                    <td> <%= ost.kogus %> </td>
                    <td> <%= ost.summa.toFixed(2) %>€ </td>
                    <td>
                        <input class="form-check-input" type="checkbox" <% if (ost.on_tasuta) {%> checked <% }%>disabled>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<script>

    function submitForm(page) {
	$("#pageForm").attr("action", "/admin/ostud/" + page);
	$("#pageForm").submit();
    }

</script>

<% include partials/footer %>