<% include partials/headerAdmin %>

<div class="container text-center mt-5">
    <h1> Ostud </h1>
    <table class="table table-hover table-bordered mt-4 mb-5">
        <thead>
            <tr>
                <th scope="col">Aeg</th>
                <th scope="col">Ostja</th>
                <th scope="col">Toode</th>
                <th scope="col">Kogus</th>
                <th scope="col">Summa</th>
                <th scope="col">Makseviis</th>
            </tr>
        </thead>
        <tbody>
            <% ostud.forEach((ost) => { %>
                <tr>
                    <td> <%= ost.aeg %> </td>
                    <td> <%= ost.ostja_nimi %> </td>
                    <td> <%= ost.toote_nimi %> </td>
                    <td> <%= ost.kogus %> </td>
                    <td> <%= ost.summa.toFixed(1) %>€ </td>
                    <td> <% if (ost.on_tasuta) { %>Tasuta<%	} %><% else { %>Makse<% } %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<% include partials/footer %>