<% include partials/headerAdmin %>

<div class="container text-center mt-5">
    <h1> Ostud </h1>

    <form class="mt-4 mb-4" action="/admin/ostudeCSV" method="POST">
	<div class="form-row justify-content-center">
	    <div class="col-2">
		<div class="row justify-content-end mr-3 mt-1">
		    <div class="col-1">
			<button type="button" class="btn btn-sm" data-toggle="tooltip" data-placement="top" id="pops" title="Kuupäeva formaat yyyy/mm/dd - Lõpukuupäev väljaarvatud">
			    <i class="fas fa-info-circle"></i>
			</button>
		    </div>
		</div>
	    </div>
       	    <div class="col-2">
		<input type="text" class="form-control shadow-sm" name="start" id="start" placeholder="Alguse kuupäev" />
	    </div>
	    <div class="col-2">
    		<input type="text" class="form-control shadow-sm" name="end" id="end" placeholder="Lõpu kuupäev" />
	    </div>
	    <div class="col-2">
		<div class="row">
		    <div class="col-8">
	    	    	<button type="submit" class="btn btn-outline-primary btn-md shadow-sm">Ostud CSV</button>
		    </div>
		</div>
	    </div>
    	</div>
    </form>

    <% let num = 1 %>
    <% if (numberOfPages > 1) { %>
	<form id="pageForm" action="" method="GET"> 
    	    <div class="btn-group mt-3 shadow" role="group">
	    	<% for (let i = 0; i < numberOfPages; i++) { %>
		    <% if (i + 1 === currentPage) {%>
		    	<button type="button" onClick="submitForm('<%= i + 1 %>')" class="btn btn-secondary" style="background: #596269;"><%= i + 1 %></button>
		    <% } else { %>
		    	<button type="button" onClick="submitForm('<%= i + 1 %>')" class="btn btn-secondary"><%= i + 1 %></button>
		    <% } %>
		    <% if (i === num * 27 && i + 1 < numberOfPages) { %>
		    	<% num++ %>
			</div>
			<div class="btn-group shadow" role="group">
		    <% } %>
	    	<% } %>
    	    </div>
	</form>
    <% } %>

    <table class="table table-hover table-bordered mt-4 mb-5 shadow">
        <thead>
            <tr>
                <th scope="col">Aeg</th>
                <th scope="col">Ostja</th>
                <th scope="col">Toode</th>
                <th scope="col">Kogus</th>
                <th scope="col">Summa</th>
                <th scope="col">Tasuta</th>
            </tr>
        </thead>
        <tbody>
            <% ostud.forEach((ost) => { %>
                <tr>
                    <td> <%= ost.aeg %> </td>
                    <td> <%= ost.ostja_nimi %> </td>
                    <td> <%= ost.toote_nimi %> </td>
                    <td> <%= ost.kogus %> </td>
                    <td> <%= ost.summa.toFixed(2) %>€ </td>
                    <td>
			<% if (ost.on_tasuta) {%> <img src="/checkedMark.png" style="height: 17px; width: 17px;"> <% } else { %>
			<img src="/uncheckedMark.png" style="height: 17px; width: 17px;"><% } %>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<script>

    function submitForm(page) {
	$("#pageForm").attr("action", "/admin/ostud/" + page);
	$("#pageForm").submit();
    }

    $(function () {
  	$('#pops').tooltip({
    	container: 'body'
    })
})

</script>

<% include partials/footer %>