<% include partials/headerAdmin %>

<div class="container text-center mt-5">

    <% if (locals.flash) { %>
        <%- locals.flash %>
        <script>
            setTimeout(() => {
                $('.alert').fadeOut("fast")				
            }, 5000)
        </script>
    <% } %>

    <!-- Kustuta toode Modal -->
    <div class="modal fade" id="kustuta" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalCenterTitle">Toote Kustutamine</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
		        <div class="modal-body">
        	        <p id="kustutaText"></p>
      		    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Tagasi</button>
                    <form id="delModal" action="" method="POST">
                        <button type="submit" class="btn btn-danger">Jah, kustuta toode</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <h2>Joogid</h2>
    <table class="table table-hover table-bordered mt-5 shadow">
        <thead>
            <tr>
                <th scope="col">Toote Kategooria</th>
                <th scope="col">Nimetus</th>
                <th scope="col">Kogus</th>
                <th scope="col">Hind</th>
                <th scope="col"><i class="far fa-edit" style="color: #000000;"></i></th>
	            <th><i class="fas fa-trash-alt"></i></th>
            </tr>
        </thead>
        <tbody>
            <% joogid.forEach((jook) => { %>
                <tr>
                    <td><%= jook.kategooria_nimetus %></td>
                    <td id="<%= jook.toote_id %>"><%= jook.toote_nimetus %></td>
                    <td><%= jook.hetke_kogus %></td>
                    <td><%= jook.myygi_hind.toFixed(2) %>€</td>
                    <td><a href="/admin/tooted/<%= jook.toote_id %>"><i class="far fa-edit" style="color: #000000;"></i></a></td>
		            <td>
                        <a data-toggle="modal" href="#" data-target="#kustuta" id="kustutaModal" data-id="<%= jook.toote_id %>">
                            <i class="fas fa-trash-alt" style="color: #3b0000;"></i>
                        </a>
		            </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <h2 class="mt-5">Söögid</h2>
    <table class="table table-hover table-bordered mt-4 mb-5 shadow">
        <thead>
            <tr>
                <th scope="col">Toote Kategooria</th>
                <th scope="col">Nimetus</th>
                <th scope="col">Kogus</th>
                <th scope="col">Hind</th>
                <th scope="col"><i class="far fa-edit" style="color: #000000;"></i></th>
		        <th><i class="fas fa-trash-alt"></i></th>
            </tr>
        </thead>
        <tbody>
            <% soogid.forEach((sook) => { %>
                <tr>
                    <td><%= sook.kategooria_nimetus %></td>
                    <td id="<%= sook.toote_id %>"><%= sook.toote_nimetus %></td>
                    <td><%= sook.hetke_kogus %></td>
                    <td><%= sook.myygi_hind.toFixed(2) %>€</td>
                    <td><a href="/admin/tooted/<%= sook.toote_id %>"><i class="far fa-edit" style="color: #000000;"></i></a></td>
                    <td>
                        <a data-toggle="modal" href="#" data-target="#kustuta" id="kustutaModal" data-id="<%= sook.toote_id %>">
                            <i class="fas fa-trash-alt" style="color: #3b0000;"></i>
                        </a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>

</div>

<script>
    window.onload = function() {
    	$("td").each(function() {
            if(parseFloat($(this).text()) <= 0) { 
           	    $(this).parent().css("background-color","#eb7891");
            }
    	})  
    }
    
    $(document).on("click", "#kustutaModal", function () {
     	let id = $(this).data('id');

        let nimi = $(`#${id}`).html();
        $('#kustutaText').html(`Oled kindel, et tahad kustudada toote <br><span style="font-weight: bold;">${nimi}</span>`);
        $('.btn-danger').html(`Jah, kustuta <span style="font-weight: bold;">${nimi}</span>`);

        $('#delModal').attr('action', '/admin/tooted/' + id + '?_method=DELETE');
    });
</script>

<% include partials/footer %>