<%- include('partials/header'); %>

<div class="container text-center mt-4">

    <div class="jumbotron shadow">
        <h1 class="display-4">Sisesta salasõna kasutaja <br><strong><%= `${kasutaja.staatuse_nimetus} ${kasutaja.eesnimi} ${kasutaja.perenimi}` %></strong><br> kinnitamiseks!</h1>
        <hr class="my-4">
        <form action="/kinnitaKasutaja/<%= id %>?_method=PUT" method="POST">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="form-group input-group input-group-lg form">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Salasõna</span>
                        </div>
                        <input type="password" name="password" class="form-control">
                    </div>
                </div>
            </div>
            <button class="btn btn-primary btn-lg shadow mt-4">Kinnita <%= `${kasutaja.staatuse_nimetus} ${kasutaja.eesnimi} ${kasutaja.perenimi}` %></button>
        </form>
    </div>

    <% if (locals.flash) { %>
        <%- locals.flash %>
        <script>
            setTimeout(() => {
                $('.alert').fadeOut("fast")
            }, 10000)
        </script>
    <% } %>

</div>

<%- include('partials/footer'); %>