<% include partials/header %>

<div class="container text-center shadow p-5">
    <% if (locals.flash) { %>
        <%- locals.flash %>
        <script>
            setTimeout(() => {
                $('.alert').fadeOut("fast")
            }, 10000)
        </script>
    <% } %>

    <% if (reb) { %>
    	<h1> <%= toode %> - <%= hind %> €. Rebane sisesta kogus: </h1>
    <% } else { %> <h1> <%= toode %> - <%= hind %> €. <%= nimi %> sisesta kogus: </h1> <% } %>

    <form action="/tooted/<%= id %>/<%= toode %>" method="POST">
        <input id="result" data-container="body" data-toggle="popover" data-placement="right" data-content="Peab olema vahemikus 1.00 - 99.99" class="resultDisplay" name="kogus" value="1" readonly>
        <table class="calcTable">
            <tr>
                <td><input class="btnTable" type="button" value="1" onclick="add('1')"/> </td>
                <td><input class="btnTable" type="button" value="2" onclick="add('2')"/> </td>
                <td><input class="btnTable" type="button" value="3" onclick="add('3')"/> </td>
            </tr>
            <tr>
                <td><input class="btnTable" type="button" value="4" onclick="add('4')"/> </td>
                <td><input class="btnTable" type="button" value="5" onclick="add('5')"/> </td>
                <td><input class="btnTable" type="button" value="6" onclick="add('6')"/> </td>
            </tr>
            <tr>
                <td><input class="btnTable" type="button" value="7" onclick="add('7')"/> </td>
                <td><input class="btnTable" type="button" value="8" onclick="add('8')"/> </td>
                <td><input class="btnTable" type="button" value="9" onclick="add('9')"/> </td>
            </tr>
            <tr>
                <td><input class="btnTable" type="button" value="." onclick="add('.')"/> </td>
                <td><input class="btnTable" type="button" value="0" onclick="add('0')"/> </td>
                <td><input class="btnTable" type="button" value="<-" onclick="remove()"/> </td>
            </tr>
        </table>
        <br>

        <div class="row justify-content-around">
            <div class="col-4">
                <div class="row justify-content-end">
		            <% if (reb) { %>
    			        <h1> <a href='/tooted/<%= id %>"<%= newId %>' class="btn btn-lg btn-outline-primary shadow btnBack">&laquo; Tagasi</a>
    		        <% } else { %> <a href="/tooted/<%= id %>" class="btn btn-lg btn-outline-primary shadow btnBack">&laquo; Tagasi</a> <% } %>
                </div>
            </div>
            <div class="col-4">
                <div class="row justify-content-start">
                    <button class="btn btn-outline-success btn-lg shadow btnBuy">Teosta Ost &raquo;</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="/javascript/calculator.js"></script>

<% include partials/footer %>
