<% include partials/header %>

<div class="container text-center shadow p-5">
        
    <div class="row justify-content-around">
    	<div class="col-4">
            <div class="row justify-content-end">
                <a href="/" class="btn btn-md btn-outline-primary shadow btnBack">&laquo; Tagasi</a>
            </div>
        </div>
	<div class="col-4">
	    <form id="osta" action="/tooted/<%=rebId%>" method="GET">
                <div class="row justify-content-start">
                    <button class="btn btn-outline-success btn-md shadow btnBuy">Osta endale &raquo;</button>
                </div>
	    </form>
        </div>
    </div>

    <h2 class="mt-4">Osta sõbrale</h1>
    <% if (viimane12h.length > 0) { %>
    	<h4>Viimase 12h jooksul ostnud</h3>
	<table class="table-bordered mt-3 shadow mb-4" style="width: 50%;" align="center">
	    <tbody class="tableId">
		<% viimane12h.forEach((kasutaja, i) => { %>
		    <tr onclick="clicked('<%= kasutaja.kaardi_id %>')" style="height: 45px;">
		    	<td class="tdId"><%= kasutaja.nimetus %> <%= kasutaja.eesnimi %> <%= kasutaja.perenimi %></td>
		    </tr>
		<% }) %>
           </tbody>
    	</table>
    <% } %>
    
    <% let str = "" %> 

    <div class="row justify-content-center">
    	<div class="col">
	    <% kasutajad.forEach((kasutajad2, i) => { %>
		<% if (i % 2 == 0) { %>
      	     	    <% kasutajad2.forEach((kasutaja, i) => { %>
			<% if (kasutaja.coetus !== str) { %>
	    		    <h5><%= kasutaja.coetus %></h4>
	    		    <table class="table-hover table-bordered mt-3 shadow mb-4" style="width:100%">
	   		    <tbody class="tableId">
	    		    <% str = kasutaja.coetus %>
			<% } %>
			<tr onclick="clicked('<%= kasutaja.kaardi_id %>')" style="height: 45px;">
	    		    <td class="tdId"><%= kasutaja.nimetus %> <%= kasutaja.eesnimi %> <%= kasutaja.perenimi %></td>
			</tr>
			<% if (kasutajad2[i + 1] === undefined || (kasutajad2[i + 1] !== undefined && kasutaja.coetus !== kasutajad2[i + 1].coetus)) { %>
            		    </tbody>
    	    		    </table>
			<% } %> 
    		    <% }) %>
		<% } %>
	    <% }) %>
    	</div>
	<% str = "" %>
    	<div class="col">
	    <% kasutajad.forEach((kasutajad2, i) => { %>
		<% if (i % 2 != 0) { %>
      	    	    <% kasutajad2.forEach((kasutaja, i) => { %>
			<% if (kasutaja.coetus !== str) { %>
	    		    <h5><%= kasutaja.coetus %></h4>
	    	  	    <table class="table-bordered mt-3 shadow mb-4" style="width:100%">
	   		    <tbody class="tableId">
	    		    <% str = kasutaja.coetus %>
			<% } %>
			<tr onclick="clicked('<%= kasutaja.kaardi_id %>')" style="height: 45px;">
	    		    <td class="tdId"><%= kasutaja.nimetus %> <%= kasutaja.eesnimi %> <%= kasutaja.perenimi %></td>
			</tr>
			<% if (kasutajad2[i + 2] === undefined || (kasutajad2[i + 2] !== undefined && kasutaja.coetus !== kasutajad2[i + 2].coetus)) { %>
            		    </tbody>
    	    		    </table>
			<% } %> 
    		    <% }) %>
		<% } %>
	    <% }) %>
    	</div>
    </div>

</div>

<script>

    function clicked(id) {
	$('#osta').attr('action', '/tooted/' + '<%= rebId %>"' + id);
	$("#osta").submit();
    }

</script>

<% include partials/footer %>