<%- include('partials/header'); %>

<div class="container p-5 text-center shadow">
    
    <% if (locals.flash) { %>
        <%- locals.flash %>
        <script>
            setTimeout(() => {
                $('.alert').fadeOut("fast")
            }, 10000)
        </script>
    <% } %>

    <% if (reb) { %>
    	<h1> <strong> <%= nimi %></strong>! Rebane vali toode: </h1>
    <% } else { %> <h1> Hei<strong> <%= nimi %></strong>! Vali toode: </h1> <% } %>

    <% if (reb || nimi.charAt(0) === 'r') { %>
    	<a href="/tooted/<%= id %>/paneKirja" class="btn btn-lg btn-outline-primary back shadow">&laquo; Tagasi</a>
    <% } else { %> <a href="/?id=<%= id %>" class="btn btn-lg btn-outline-primary back shadow">&laquo; Tagasi</a> <% } %>
    <div class="row justify-content-around text-center">
        <div class="col-4"> <strong style="font-size: 18px;"> Joogid </strong>
            <div class="list-group shadow">
                <% if (jook1.length > 0 && jook1.some(jook => jook.hetke_kogus > 0) && seis === 1) { %>
                    <li class="list-group-item list-group-item-secondary p-1"><strong style="font-size: 18px;"> Õlu </strong></li>
                    <% jook1.forEach((jook) => { %>
                        <% if (jook.hetke_kogus > 0) { %>
                            <a href="/tooted/<%=id%>/<%=jook.toote_nimetus%>" class="list-group-item list-group-item-action p-2">
                                <%= jook.toote_nimetus %>
                                <span class="badge badge-dark mt-1"> <%= jook.myygi_hind.toFixed(2) %>€ </span>
                            </a>
                        <% } %>
                    <% }); %>
                <% } %>
                <% if (jook2.length > 0 && jook2.some(jook => jook.hetke_kogus > 0)) { %>
                    <li class="list-group-item list-group-item-secondary p-1"><strong style="font-size: 18px;"> Alkoholivaba </strong></li>
                    <% jook2.forEach((jook) => { %>
                        <% if (jook.hetke_kogus > 0) { %>
                            <a href="/tooted/<%=id%>/<%=jook.toote_nimetus%>" class="list-group-item list-group-item-action p-2">
                                <%= jook.toote_nimetus %>
                                <span class="badge badge-dark mt-1"> <%= jook.myygi_hind.toFixed(2) %>€ </span>
                            </a>
                        <% } %>
                    <% }); %>
                <% } %>
                <% if (jook3.length > 0 && jook3.some(jook => jook.hetke_kogus > 0) && seis === 1) { %>
                    <li class="list-group-item list-group-item-secondary p-1"><strong style="font-size: 18px;"> Kange alkohol </strong></li>
                    <% jook3.forEach((jook) => { %>
                        <% if (jook.hetke_kogus > 0) { %>
                            <a href="/tooted/<%=id%>/<%=jook.toote_nimetus%>" class="list-group-item list-group-item-action p-2">
                                <%= jook.toote_nimetus %>
                                <span class="badge badge-dark mt-1"> <%= jook.myygi_hind.toFixed(2) %>€ </span>
                            </a>
                        <% } %>
                    <% }); %>
                <% } %>
                <% if (jook4.length > 0 && jook4.some(jook => jook.hetke_kogus > 0) && seis === 1) { %>
                    <li class="list-group-item list-group-item-secondary p-1"><strong style="font-size: 18px;"> Muu </strong></li>
                    <% jook4.forEach((jook) => { %>
                        <% if (jook.hetke_kogus > 0) { %>
                            <a href="/tooted/<%=id%>/<%=jook.toote_nimetus%>" class="list-group-item list-group-item-action p-2">
                                <%= jook.toote_nimetus %>
                                <span class="badge badge-dark mt-1"> <%= jook.myygi_hind.toFixed(2) %>€ </span>
                            </a>
                        <% } %>
                    <% }); %>
                <% } %>
            </div>
        </div>
        <div class="col-4"> <strong style="font-size: 18px;"> Söögid </strong>
            <div class="list-group shadow">
                <% if (sook5.length > 0 && sook5.some(sook => sook.hetke_kogus > 0)) { %>
                    <li class="list-group-item list-group-item-secondary p-1"><strong style="font-size: 18px;"> Snäk </strong></li>
                    <% sook5.forEach((sook) => { %>
                        <% if (sook.hetke_kogus > 0) { %>
                            <a href="/tooted/<%=id%>/<%=sook.toote_nimetus%>" class="list-group-item list-group-item-action p-2">
                                <%= sook.toote_nimetus %>
                                <span class="badge badge-dark mt-1"> <%= sook.myygi_hind.toFixed(2) %>€ </span>
                            </a>
                        <% } %>
                    <% }); %>
                <% } %>
                <% if (sook6.length > 0 && sook6.some(sook => sook.hetke_kogus > 0)) { %>
                    <li class="list-group-item list-group-item-secondary p-1"><strong style="font-size: 18px;"> Valmistoit </strong></li>
                    <% sook6.forEach((sook) => { %>
                        <% if (sook.hetke_kogus > 0) { %>
                            <a href="/tooted/<%=id%>/<%=sook.toote_nimetus%>" class="list-group-item list-group-item-action p-2">
                                <%= sook.toote_nimetus %>
                                <span class="badge badge-dark mt-1"> <%= sook.myygi_hind.toFixed(2) %>€ </span>
                            </a>
                        <% } %>
                    <% }); %>
                <% } %>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer'); %>